@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
 font-family: sans-serif;
}

.container{
    background-image:url(./images/manager.jpg);
    background-repeat:no-repeat;
    width: 100%;
    height: 125vh; 
    background-size: cover;
    
}
.top_section{
    
background: linear-gradient(rgba(2, 20, 27, 0.814)50%,rgba(2, 20, 27, 0.814)50%);
width: 100%;
height: 125vh;
position:static;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family:Poppins ;
   padding:20px;
   margin: 0px 0px;
   background-color: rgba(1, 1, 22, 0.388);
  
}
.logo{
    color: #ffffff;
    font-weight: 700;
}
.nav_bar{
    display: flex;
    list-style: none;
   
}
.nav_bar li{
    padding: 0px 20px;
}

li a{
text-decoration: none;
color:#ffffff;
padding:5px auto;

}
li a:hover{
    color:rgb(116, 179, 234);
    text-decoration: underline;
}
.login button{
padding: 5px 15px;
background-color: rgb(116, 179, 234);
border: none;
border-radius: 10px;
color: #ffffff;
font-family: sans-serif;
}
.text_area h2{
    text-align: center;
    margin-top: 10%;
   color: #ffffff; 
   font-size: 2.5rem;
   font-family:Poppins;
}
p{
    text-align: center;
    margin: 15px 0px;
    color: #ffffff;
    font-family: Poppins;
}
.statistics{
    display: flex;
transform: translateY(30px);
justify-content: center;
}
.stat{ 
    display: flex;
    margin: 0px 5px;
    color: #ffffff;
    font-family: Poppins;
}
.number{
    font-weight: 700;
    margin: 12px 0px;
    font-size: 27px;

}
.stat .lo{
    text-align:left;
margin: 1px 10px;
padding: 5px;
width: 8rem;
}
.create_account{
    justify-content: center;
    margin-top: 50px;
}
.create_account button{
    padding: 10PX;
    background-color: rgb(0, 174, 255);
    border: none;
    color: #ffffff;
    transform: translateX(31rem);
}
.feature{
    background:rgb(2, 14, 17) ;
    justify-content: center;
    padding: 20px;
    width: 90%;
    transform: translateX(6%);
   margin-top: -60px;
   border-radius: 10px;
}
.feature2{
    background:rgb(2, 14, 17) ;
    justify-content: center;
    padding: 20px;
    width: 90%;
    transform: translateX(6%);
   margin-top: 10px;
   border-radius: 10px;
}
.feature h2{
    color: #ffffff;
    font-family: Poppins;
    text-align: center;
    padding: 10px;
}
.special{
    display: flex;
    justify-content: space-between;
}
.transfer{
    color: #ffffff;
    font-family: Poppins;
    background-color: rgb(1, 24, 45);
    text-align: center;
    margin: 3px 20px;
    width:15rem ;
    height: 15rem;
    border-top-right-radius:10px ;
    border-bottom-left-radius: 10px;
}
.transfer icon{
    font-size: 48px;
    margin-top: 5px;
}
.transfer .topic{
    font-weight: 600;
    font-size: 22px;
    margin-top:10px;
}
.transfer .sub_text{
    text-align: center;
    margin-top:  15px;
}
.section3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 90%;
    transform: translateX(6%);
   font-family: poppins;
    margin:105px 0px;
    word-spacing: 1.5;
    line-height: 1.5;
}
.details{
    margin-left: 15px;
    width: 88%;
}

.details a{
    color: blue;
    text-decoration: none;
}
.pic img{
    width: 75%;
    border-radius: 5px;
}
.services{
    background:rgb(230, 232, 233) ;
    justify-content: center;
    padding: 20px;
    width: 90%;
    transform: translateX(6%);
   margin-top: -30px;
   border-radius: 10px;
}
.lap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70%;
}
.services a{
    left: -50px;
}
.services h3{
    text-align: center;
    margin: 20px;
    word-spacing: 2.5px;
}
.lap icon{
    font-size: 48px;
    margin-top: 5px;
    text-align: center;
    margin: 0px 8rem 3rem;
}
.lap .topic{
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    margin-top:10px;
}
.lap .sub_text{
    text-align: center;
    margin-top:  15px;
    margin: 20px;
}
.lap .deposite{
    background-color: whitesmoke;
   border: 1px solid rgba(116, 193, 241, 0.715);
}
.deposite:hover{
    background-color:rgba(3, 3, 16, 0.932);
    font-size: 25px;
    color: #ffffff;
    border-radius: 10px;
    transition: 1.5s ease-in all;
}
.lap .deposite3{
   background-color: rgb(255, 255, 255);
   color: black;
}
 p a{
    text-decoration: none;
    color: blue;
}



.services2{
    background:rgb(138, 195, 223) ;
    justify-content: center;
    padding: 20px;
    width: 90%;
    height: 70vh;
    transform: translateX(6%);
   margin-top: 30px;
   border-radius: 10px;
}
.services2 h3{
    text-align: center;
    margin: 20px;
    word-spacing: 2.5px;
}
.lap2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;

}
.lap2 icon{
    font-size: 35px;
    margin-top: 5px;
    text-align: center;
    margin: 0px 8rem 3rem;
}
.lap2 .topic2{
    text-align: center;
    font-weight: 550;
    font-size: 18px;
    margin-top:10px;
   
}
.lap2 .sub_text2{
    text-align: center;
    margin-top:  15px;
    margin: 15px;
    font-size: 12px;
    
}
.lap2 .deposite2{
    background-color: whitesmoke;
   border: 1px solid black;
   height: 50vh;
   
}
.deposite2:hover{
    background-color:rgba(3, 3, 16, 0.932);
    font-size: 15px;
    color: #ffffff;
    border-radius: 10px;
    transition: 0.7s ease-in all;
}
 p a{
    text-decoration: none;
    color: blue;
}