body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top,rgba(255, 183, 0, 0.546),rgba(0, 255, 38, 0.534));
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-decoration: underline;
}
#calculator{
    font-family: arial sans-serif;
    background-color: hsl(0,0%,15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
margin-top: 15px;
}
#display{
    width: 85%;
    padding: 10px;
    font-size: 5rem;
    text-align: left;
    border: 1px solid rgb(53, 220, 242);
    border-radius: 10px;
    background-color: hsl(0,0%,30%);
    color: #fff;
    margin-left: 20px;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   gap: 10px;
   padding: 25px;
}
button{
    width: 50px;
    height: 60px;
    border-radius: 50px;
    border:none;
    background-color: hsl(0, 0%,30%);
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color:hsl(0, 0%,45%);
}
button:active{
    background-color:hsl(0, 0%,50%);
}
.operator-btn{
    background-color:hsl(194, 86%, 58%);
}
.operator-btn:hover{
    background-color:hsl(194, 86%, 68%);
}
.operator-btn:active{
    background-color:hsl(194, 86%, 78%);
}